# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\03_tool\PycharmProjects\tf.wiki\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
